.dark-overlay{
    position:absolute;
    background-color: rgba(88, 86, 86, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.mySpinner{
    position:absolute;
    top: 45vh;
    left: 47vw;
}